/*
============================

Sylesheet

============================
*/

body{
	background: #B5E6F5;
}

#container{
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

#menu ul{
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 5%;

}

#menu li{
	border-radius: 10px;
	color: black;
	background: #83E356;
	font-family: Tahoma;
	display: inline;
	border: 1px solid black;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 4px 4px 4px 4px black;

}

#banner{
	text-align: right;
	font-family: Tahoma;
	font-size: 40px;
}

#content{
	/*border: 1px solid black;*/
}

#contentleft, #contentright{
	background: white;
	padding: 2.5%;
	border: 2px solid black;

}

#contentleft{
	float: left;
	width: 65%;
}

#contentright{
	float: right;
	width: 22.5%;
}